:root {
  --theme-color: #21A2FF;
  --subtle-text: #ccc;
}

/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000B26;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

p {
  font-size: 18px;
  line-height: 1.4em;
}

a {
  color: var(--theme-color);
}

.page-title {
  font-size: 60px;
  margin-bottom: 20px;
}


/* Header styles start */
.header {
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
}

.logo-bar {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.site-identity {
  margin-top: 10px;

}


.site-title {
  font-size: 22px;
}

.site-subtitle {
  color: var(--subtle-text);
  font-weight: 400;
}

.header ul {
  list-style-type: none;
  display: inline;
}

.header li {
  display: inline;
  text-decoration: underline;
  margin-right: 20px;
  color: var(--theme-color);

}

/* Header styles end */

/* Footer styles start */
.footer {
  padding: 20px 30px;
  border-top: 1px solid #444;
  position: absolute;
  width: 100%;
}

/* footer styles end */

.links li {
  color: var(--subtle-text);
  font-size: 14px;
  list-style-type: none;
  display: inline;
  margin-right: 10px;
}

.app-body {
  padding: 30px 30px;
}

/* Homepage styles start */

.home-links {
  margin-top: 20px;
}

.home-links li {
  font-size: 14px;
  list-style-type: none;
  display: inline;
  margin-right: 10px;
}

.latest-posts {
  margin-top: 60px;
}

/* Card styles start */

.post-card,
.project-card {
  margin-bottom: 30px;
}

.post-card p {
  font-size: 18px;
}

.post-card a,
.project-card a {
  text-decoration: none;
  cursor: pointer;
}

.post-card a:hover,
.project-card a:hover {
  text-decoration: underline;
}


.post-card h2,
.project-card h2 {
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 25px;
  font-weight: 500;
}

/* Card styles end */

/* Project styles start */
.project-list {
  margin-top: 5cqw;
}

.project-title {
  color: var(--theme-color);
  font-size: 25px;
  margin-bottom: 10px;
}

.project-title:hover {
  text-decoration: underline;
}

.project-desc {
  margin-bottom: 10px;
}

.project-link {
  color: var(--theme-color);
}

.navlink {
  color: var(--theme-color);
}

/* Blog post styles start */

.blog-post {
  margin-top: 20px;
}

.blog-post h1 {
  font-size: 35px;
  margin-bottom: 20px;
}

.blog-post h2,
.blog-post h3,
.blog-post h4,
.blog-post p,
ol,
ul,
code {
  margin-bottom: 20px;
}

.blog-post li {
  line-height: 1.3em;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 18px;
}

.blog-post img {
  width: 100%;
}

.blog-post blockquote {
  background-color: #27314A;
  border-left: 5px solid var(--theme-color);
  margin: 1.5em 0;
  padding: 20px;
}

/* this is the date style */
.blog-post h6 {
  color: var(--subtle-text);
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 7px;
}

/* Blog post styles end */

.post-list {
  margin-top: 30px;
}

/* Category/tools styles start */

.tools-container {
  margin-top: 40px;
  margin-bottom: 25px;
}

.tools {
  list-style-type: none;
  font-size: 14px;
  display: inline;
  width: fit-content;
  height: 40px;
  padding: 10px;
  background: rgba(39, 49, 74, 0.60);
  backdrop-filter: blur(15px);
  border-radius: 5px;
  border: 1px solid #103B5B;
  margin-right: 10px;
}

.post-footer {
  border-top: 1px solid #393939;
  padding: 20px;
  margin-top: 40px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  /* For Desktops */

  .header,
  .logo-bar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .site-identity {
    margin-left: 20px;
  }

  .app-body,
  .header {
    padding: 30px 250px;
  }

  .blog-post h1 {
    font-size: 50px;
  }

  .blog-post p,
  .blog-post li {
    font-size: 20px;
  }

}